celery==5.3.6
diagrams==0.23.4
django==5.0.2
elasticsearch-dsl==8.11.0
grpcio==1.62.0
grpcio-tools==1.62.0
jupyterlab==4.1.2
marshmallow==3.21.0
matplotlib==3.9.1
openai==1.13.3
openpyxl==3.1.2
pandas==2.2.2
polars==0.20.13
pymongo==4.6.2
python-dotenv==1.0.1
python-telegram-bot==20.8
rich==13.7.1
uvicorn==0.27.1
uwsgi==2.0.26
